<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135242690290-crbcaocsrt06eidi0mopeb1dvn42q20c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135242690290-crbcaocsrt06eidi0mopeb1dvn42q20c</string>
	<key>API_KEY</key>
	<string>AIzaSyDIWvYpZVB1ExQdEX6dFPvThmke0ktuU_A</string>
	<key>GCM_SENDER_ID</key>
	<string>135242690290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tadafuq.zechat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zchatapp-bb638</string>
	<key>STORAGE_BUCKET</key>
	<string>zchatapp-bb638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135242690290:ios:f55d1e01b1c22c9b3aaa6b</string>
</dict>
</plist>